#search-box-container {
    text-align: center;
}

#search-box {
    display: inline-block;
}

h2.search-bar-title {
    font-style: italic;
    font-weight: bold;
    color: rgb(100, 165, 210);
}

input#filterInput {
    width: 80vw;
    border-radius: 10px;
    border-color: rgb(100, 165, 210);
    padding: 10px;
    background-color: lightgrey;
    color: rgb(100, 165, 210);
}

a.collection-item {
    color: rgb(50, 50, 50);
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

a.collection-item:hover {
    text-decoration: none;
}


li.collection-item {
    list-style: none;
	  display: list-item;
	  margin-left: 50px;
}

li.collection-item:before {
    content: "";
	  border: 5px #000 solid !important;
	  border-radius: 50px;
	  margin-top: 5px;
	  margin-left: -20px;
	  position: absolute;
}


li.collection-header {
    display: inline;

}

h5.collection-header {
    margin-top: 30px;
    color: rgb(100, 165, 210);
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

h5.collection-header-hidden {
    display: none;
}