#search-box-container {
    text-align: center;
}

#search-box {
    display: inline-block;
}

h2.search-bar-title {
    font-style: italic;
    font-weight: bold;
    color: rgb(100, 165, 210);
}

input#filterInput {
    width: 80vw;
    border-radius: 10px;
    border-color: rgb(100, 165, 210);
    padding: 10px;
    background-color: lightgrey;
    color: rgb(100, 165, 210);
}

a.collection-item {
    color: black;
}

li.collection-item {
    margin-left: 20px;
}

li.collection-header {
    display: inline;

}

h5.collection-header {
    margin-top: 30px;
    color: rgb(100, 165, 210);
    font-weight: bold;
    font-style: italic;
}
