body {
    overflow-x: hidden;
    font-family: "Arial", Serif;
}

#body {
    margin-top: 120px;
    padding: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-box {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: thistle;
    padding: 10px 10px 30px 30px;
    width: 90vw;
    height: 80vh;
}

#content-box:after {
    content: "";
    display: table;
    clear: both;
}

#book-cover-column {
    float: left;
    width: 45%;
    padding-top: 3vh;
    padding-left: 5vw;
}

#book-details-column {
    float: left;
    width: 55%;
    height: 72vh;
    margin-top: 2vh;
    border-left-style: groove;
    border-left-width: 1px;
    border-left-color: rgba(90,90,90, 0.3);
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: rgb(90,90,90,0.3);
    
}

#book-details {
    padding-left: 5vw;
}

#book-cover {
    width: 30vw;
    height: 70vh;
}

#book-title {
    color: rgb(50, 85, 155);
    text-shadow: 1px 1px rgba(50, 85, 155, 0.750);

}

#quantity {
    text-align: center;
    width: min-content;    
    font-weight: bold;
    margin-top: 15px;
    border-style: none;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    padding: 7.5px;
}

#buy-submit {
    background-color: rgb(255, 76, 6);
    color: white;
    font-weight: bold;
    margin-top: 15px;
    border-style: none;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    padding: 7.5px;
}

#buy-submit:hover{
    color: slategray;
}

@media ( max-height: 600px ) {
    #book-cover {
        height: 450px;
    }
}

@media( max-width:800px ) {

    #content-box {
        height: 100%;
    }

    #book-cover-column {
        float: left;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    #book-details-column {
        margin-left: -3vw;
        width: 100%;
        padding: 0;
        border-top-style: groove;
        border-top-width: 1px;
        border-top-color: rgba(90,90,90, 0.3);
        border-left-style: none;
        border-bottom-style: none;
        height: 50vh;
    }

    .book-detail-h3 {
        padding-left: 7vw;
    }

    #book-cover {
        width: 45vw;
        height: 60vh;
        margin-left: 7vw;
    }

}

@media( max-width:600px ) {
    #book-cover {
        width: 300px;
        height: 450px;
    }
}

@media (max-width: 400px ) {
    #book-cover {
        width: 55vw;
        height: 70vh;
    }
}