body {
    overflow-x: hidden;
    font-family: "Arial", Serif;
}

#body {
    margin-top: 41px;
    padding: 0px;
    padding-bottom: 0px;
}

.sidebar {
    background-color: whitesmoke;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    height: 63px;
}

#sidebar-title {
    text-align: center;
    text-indent: -60px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    vertical-align: middle;
}

.sidebar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.sidebar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #000;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 61px;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#sidebar-btn-info {
    margin-top: 3px;
}

.sidebar-btn {
    background-color: none;
    color: #ccc;
}

.sidebar-btn:hover {
    color: #fff;
}

.active-sidebar-btn {
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
}

#main {
    transition:margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

#content-box {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: whitesmoke;
    padding: 10px 10px 30px 30px;
    height: 80vh;
}

#content-box:after {
    content: "";
    display: table;
    clear: both;
}

#book-cover-column {
    float: left;
    width: 45%;
    padding-top: 3vh;
    padding-left: 5vw;
}

#book-details-column {
    float: left;
    width: 55%;
    height: 72vh;
    margin-top: 2vh;
    border-left-style: groove;
    border-left-width: 1px;
    border-left-color: rgba(90,90,90, 0.3);
    border-bottom-style: groove;
    border-bottom-width: 1px;
    border-bottom-color: rgb(90,90,90,0.3);
    
}

#book-details {
    padding-left: 5vw;
}

#book-cover {
    width: 30vw;
    height: 70vh;
}

#book-title {
    color: rgb(50, 85, 155);
    text-shadow: 1px 1px rgba(50, 85, 155, 0.750);

}

@media( max-width:568px ) {

    #sidebar-title {
        display: none;
    }

    #content-box {
        height: 100%;
    }

    #book-cover-column {
        width: 100%;
        padding: 0;
    }

    #book-details-column {
        margin-left: -3vw;
        width: 100%;
        padding: 0;
        border-top-style: groove;
        border-top-width: 1px;
        border-top-color: rgba(90,90,90, 0.3);
        border-left-style: none;
        border-bottom-style: none;
        height: 50vh;
    }

    .book-detail-h3 {
        padding-left: 7vw;
    }

    #book-cover {
        width: 60vw;
        height: 40vh;
        margin-left: 7vw;
    }

}

/*@media ( min-width:568px ) {
    .open-slide{display: none}
}*/