body{
  background: rgb(255, 255, 200);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.my-navbar {
    border-radius: 0;
    margin: 0px;
    letter-spacing: 1px;
    height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgb(255, 76, 6);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    font-size: 16px;
    font-weight: 550;
    z-index: 9999;
}


.my-navbar-btn, .brand-btn {
    margin-top: 0;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 10px;
}

.my-navbar-active-btn {
    color: white;
}

.my-navbar-btn-right {
    float: right;
}

.my-navbar-btn:hover {
    background: rgb(255, 104, 44);
    color: slategrey;
    text-decoration: none;
}

.brand-btn:hover {
    text-decoration: none;
    color: black;
}

.my-navbar-left li {
    list-style: none;
}

.my-navbar-right li {
    list-style: none;
}

#container {
    min-height: 100%;
    position: relative;
}
  
#header {
    /*padding: 10px;*/
}
  
#body {
    margin-top: 50px;
    padding: 10px;
    padding-bottom: 20px;
}
  
#footer {
    height: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
#social{
    width: 100%;
    margin-top: 50px;
    background-color: rgb(255, 76, 6);
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: auto;
}

.btn {
    color: black;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(255, 104, 44);
    color: slategray;
}

* {
    box-sizing: border-box;
}

#sidenav {
    display: none;
}

#nav {
    display: block;
}

@media screen and (max-width: 800px) {

    #nav {
        display: none;
    }

    #main {
        transition:margin-left 0.5s;
        overflow: hidden;
        width: 100%;
    }

    #sidenav {
        display: block;
        border-radius: 0;
        margin: 0px;
        letter-spacing: 1px;
        height: 60px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: rgb(255, 76, 6);
        overflow: hidden;
        position: fixed; 
        top: 0; 
        width: 100%; 
        font-size: 16px;
        font-weight: 550;
        z-index: 9999;
    }
    
    .sidebar a {
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    #sidebar-btn-open {
        height: 60px;
        background-color: rgb(255, 76, 6);
    }
    
    .sidebar ul {
        margin: 8px 0 0 0;
        list-style: none;
    }
    
    .sidebar a:hover {
        background-color: #ddd;
        color: #000;
    }
    
    .side-nav {
        float: right;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: #ccc;
        display: block;
        transition: 0.3s;
    }
    
    .side-nav a:hover {
        color: #fff;
    }
    
    .side-nav .btn-close {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    #sidebar-btn-info {
        margin-top: 3px;
    }
    
    .sidebar-btn {
        background-color: none;
        color: #ccc;
    }
    
    .sidebar-btn:hover {
        color: #fff;
    }
    
    .active-sidebar-btn {
        background-color: rgba(80, 80, 80, 0.5);
        color: white;
    }
    
}