body {
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

#myCarousel {
    width: 100%;
    margin-top: 60px;
}

#img-carousel {
    width: 100%;
    height: 60vh;
}

#master {
    width: 100%;
}

.card-img {
    width: 100%;
    height: 350px;
}

.copper {
    height: 480px;
    width: 22vw;
    max-width: 450px;
}

.card{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 22vw;
    max-width: 450px;
    margin: auto;
    text-align: center;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    font-style: italic;
}

.card-text {
    font-weight: bold;
    color: white;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.bestseller {
    background-color: red;
}

.recommended {
    background-color: green;
}

.card-footer {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 25%;
    right: 25%;
}

.img-responsive {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    background-color: rgb(255, 76, 6);
    color: black;
    font-weight: bold;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: rgb(255, 104, 44);
    color: slategray;
    border-color: transparent;
}

#rowx{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#paragrafo1, #myCarousel{
    margin-bottom: 5%;
}

hr#separatore {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}


 h2#titolo{
     font-weight: 700;
     font-size: 30px;
     margin-top: 20px;
     margin-bottom: 10px;
 }

#img-home {
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 993px) {
    .card, .copper {
        width: 50vw;
    }
}

@media screen and (max-width: 450px) {
    .card, .copper {
        width: 80vw;
    }
}

#intro {
    color: black;
    text-align: left;
    padding-top: 20px;
    font-size: 4vh;
}

#success{

        color: black;
        text-align: center;
        padding-top: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 10vh;
        font-style: italic;
        font-weight: bold;
 }